<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>homebrew.mxcl.fcgiwrap</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>rm -f /opt/homebrew/var/run/fcgiwrap.sock &amp;&amp; /opt/homebrew/sbin/fcgiwrap -s unix:/opt/homebrew/var/run/fcgiwrap.sock</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/hidetoshidekisugi/Documents/suneo-git-repos/git_server_setup/fcgiwrap.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/hidetoshidekisugi/Documents/suneo-git-repos/git_server_setup/fcgiwrap.err.log</string>
</dict>
</plist>
